.dashboard-box {
  display: flex;
  border: 1px solid var(--border-color);
  min-height: 800px;
}
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
  padding: 10px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
}
.dashboard-header p {
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  color: var(--color-text-dark);
}
.dashboard-header h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-text-dark);
}
.dashboard-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

.dashboard-welcome {
  font-size: 16px;
  color: var(--color-text-dark);
}

.dashboard-box-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  color: white;
  background-color: var(--color-secondary);
  min-height: 50px;
}

.dashboard-box-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-surface);
  border: 1px solid var(--color-primary-dark);
  border-radius: var(--radius);
  height: 40px;
  width: 40px;
}

.dashboard-box-link a {
  text-decoration: none;
  color: var(--color-text-dark);
  font-size: 18px;
  font-weight: 500px;
}

.group-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: var(--radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.group-card-header {
  display: flex;
  flex-direction: column;
}

.group-card-status {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid;
  width: 80px;
  min-width: 80px;
  height: 80px;
  padding: 5px;
  box-sizing: border-box;
}

.group-card-status-form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  border-left: 1px solid;
  min-width: 80px;
  height: 80px;
  padding: 5px;
  box-sizing: border-box;
}

.group-card-status p,
.group-card-status a {
  width: 100%;
  text-align: center;
  margin: 0;
}

.group-card-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.group-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.group-container p,
.group-container h3 {
  color: var(--color-text-dark);
}

.waiting-approval {
  color: var(-color-waiting) !important;
}

.apply {
  color: var(--color-success);
}

.form-status-container {
  display: flex;
  flex-direction: column;
}
.form-status-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
